@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Oswald:wght@500&display=swap');

@font-face {
    font-family: "DMSerif";
    src: url(./assets/fonts/DMSerifDisplay-Regular.ttf);
}

/* L'étoile donne du style à tous les éléments */
/* *{
    margin: 0;
    padding: 0;
} */

body {
    font-family: "DMSerif", Verdana;
    background: url(./assets/img/lampe.jpg) center/cover;
    /* VH (viewport height): 100% de la taille de l'écran */
    min-height: 100vh;
}

h1 {
    text-transform: uppercase;
    letter-spacing: 3px;
    text-align: center;
    /* Les tailles de polices doivent être en rem */
    font-size: 2.5rem;
    text-shadow: 3px 8px 20px #581ac5d9;
    color: rgb(79 38 153 / 91%);
    font-family: "Oswald", sans-serif;
}

main {
    min-height: 500px;
    width: 90%;
    background: #ffffffbf;
    /* Centrer une boite */
    margin: 0 auto;
    border: 2px solid #0000ffa6;
    border-radius: 10px 10px 0 0;
    box-shadow: -1px 9px 20px 7px #03a9f433;
    padding: 15px;
}

.boite {
    border: 2px dashed skyblue;
    border-radius: 10px;
    padding: 10px;
    margin-top: 20px;
    min-height: 150px;
}

h2 {
    margin: 0;
}

/* Sert a répartir équitablement des éléments sur la page */
.flexbox ul{
    padding: 0;
    display: flex;
    justify-content: space-around;
}

.flexbox li {
    list-style: none;
    height: 160px;
    width: 160px;
    margin: 10px;
    background: turquoise;
    /* Centrer un unique élément verticalement et horizontalement */
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Grid */
.grid-container{
    display: grid;
    grid-template-columns: 30% 70%;
}

.grid img {
    width: 100%;
    margin-top: 20px;
}

form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: 
    "i1 i2"
    "ta ta"
    "vi bt";
}

input, textarea {
    margin: 5px;
    border: 1px solid darkblue;
    padding: 10px;
    font-size: 1.1rem;
    font-family:"DMSerif";
    border-radius: 5px;
}

textarea {
    grid-area: ta;
    height: 40px;
    resize: none;
}

#btn-submit {
    grid-area: bt;
    cursor: pointer;
    background: cyan;
    transition: 0.2s;
}

#btn-submit:hover {
    background: darkblue;
    color: whitesmoke;
}

/* ABSOLUTE */
/* Sans élément en relative, de base, l'élément en absolute l'est par rapport au body  */
/* Il faut mettre une position relative au parent pour contraindre l'élément en absolute dans ses frontières */

.absolute {
    position: relative;
}

#circle1 {
    height: 60px;
    width: 60px;
    background: skyblue;
    position: absolute;
    border-radius: 150px;
    top: -20px;
    right: -20px;
}

#circle2{
    height: 40px;
    width: 40px;
    border-radius: 150px;
    background: teal;
    position: absolute;
    left: 50%;
    transform: translateX(-50px);
    top: 100px;
}